# -------------------------------------------------------------------
# Global owners
# -------------------------------------------------------------------

# Default owners for everything in the repo
*       @Teciza-Solutions/admin
